.flag {
  width: 40px;
}
.App {
  padding: 50px;
}
select {
  padding: 15px;
}
select option {
  padding: 5px;
}
table {
  margin-top: 30px;
  border-radius: 5px;
  width: 100%;
  border-spacing: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
}
tbody tr {
  cursor: pointer;
}
thead {
  color: gray;
  background: #000;
  border: none;
}
tbody {
  background: rgb(218, 218, 218);
}
tbody tr:nth-child(even) {
  background: rgb(177, 177, 177);
}
th,
td {
  padding: 20px;
}

.currency__cell {
  position: relative;
  padding: 5px;
}
.currency__info {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  white-space: nowrap;
  text-align: left;
}
.currency__info span {
  color: rgb(172, 172, 172);
}
.currency__holder:hover .currency__info {
  opacity: 1;
  visibility: visible;
}
.currency__info p {
  margin: 5px 0;
}
tr:last-child .currency__info {
  top: unset;
  bottom: 100%;
}
